### REGRESI LOGISTIK

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

# Import Data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Train.csv')

In [ ]:
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

# Preprocessing

In [ ]:
feature = ['Warehouse_block','Mode_of_Shipment', 'Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases', 'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms']
target = 'Reached.on.Time_Y.N'

In [ ]:
feature

['Warehouse_block',
 'Mode_of_Shipment',
 'Customer_care_calls',
 'Customer_rating',
 'Cost_of_the_Product',
 'Prior_purchases',
 'Product_importance',
 'Gender',
 'Discount_offered',
 'Weight_in_gms']

In [ ]:
X = pd.get_dummies(df[feature]) #convert categorical variable into dummy
y = df[target]

In [ ]:
X

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
0,4,2,177,3,44,1233,0,0,0,1,0,1,0,0,0,1,0,1,0
1,4,5,216,2,59,3088,0,0,0,0,1,1,0,0,0,1,0,0,1
2,2,2,183,4,48,3374,1,0,0,0,0,1,0,0,0,1,0,0,1
3,3,3,176,4,10,1177,0,1,0,0,0,1,0,0,0,0,1,0,1
4,2,2,184,3,46,2484,0,0,1,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10994,4,1,252,5,1,1538,1,0,0,0,0,0,0,1,0,0,1,1,0
10995,4,1,232,5,6,1247,0,1,0,0,0,0,0,1,0,0,1,1,0
10996,5,4,242,5,4,1155,0,0,1,0,0,0,0,1,0,1,0,1,0
10997,5,2,223,6,2,1210,0,0,0,0,1,0,0,1,0,0,1,0,1
10998,2,5,155,5,6,1639,0,0,0,1,0,0,0,1,0,1,0,1,0

In [ ]:
y

0        1
1        1
2        1
3        1
4        1
        ..
10994    1
10995    0
10996    0
10997    0
10998    0
Name: Reached.on.Time_Y.N, Length: 10999, dtype: int64

In [ ]:
#y.value_counts(normalize=True)

# Splitting Training and Testing Data

In [ ]:
from sklearn.model_selection import train_test_split #0.7 vs 0.3
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 123)

In [ ]:
X_test

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
8402,4,1,186,3,6,4758,1,0,0,0,0,0,0,1,0,1,0,1,0
2199,5,5,216,2,33,3202,0,1,0,0,0,1,0,0,1,0,0,0,1
7161,6,2,306,4,6,1123,0,1,0,0,0,0,0,1,0,1,0,1,0
6779,4,4,273,3,3,5749,0,0,0,0,1,0,0,1,0,1,0,1,0
566,3,1,163,4,20,1940,1,0,0,0,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6574,6,1,261,4,6,1703,0,0,1,0,0,1,0,0,0,1,0,1,0
10901,4,4,201,2,7,4320,0,0,0,0,1,0,0,1,0,0,1,0,1
3966,4,3,178,2,9,4322,0,0,0,1,0,0,1,0,0,0,1,1,0
4084,3,3,273,10,10,5574,0,0,1,0,0,0,1,0,0,0,1,1,0
236,2,3,130,3,48,1801,1,0,0,0,0,0,0,1,0,1,0,1,0

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
model = logreg.fit(X_train,y_train)

In [ ]:
coef = {'feature':X.columns, #memunculkan hasil pemodelan
'coef' : logreg.coef_[0]}

In [ ]:
pd.DataFrame(coef)

                      feature      coef
0         Customer_care_calls  0.000474
1             Customer_rating  0.003235
2         Cost_of_the_Product -0.000724
3             Prior_purchases  0.000627
4            Discount_offered  0.120220
5               Weight_in_gms -0.000147
6           Warehouse_block_A  0.000071
7           Warehouse_block_B  0.000224
8           Warehouse_block_C  0.000089
9           Warehouse_block_D  0.000126
10          Warehouse_block_F  0.000371
11    Mode_of_Shipment_Flight  0.000230
12      Mode_of_Shipment_Road  0.000042
13      Mode_of_Shipment_Ship  0.000609
14    Product_importance_high  0.000339
15     Product_importance_low  0.000183
16  Product_importance_medium  0.000360
17                   Gender_F  0.000462
18                   Gender_M  0.000420

In [ ]:
y_pred = logreg.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6351515151515151

![confusion matrix.png]()

True Positive:
Interpretation: You predicted positive and itâ€™s true.
hasilnya 1 dan benar 1.
True Negative:
Interpretation: You predicted negative and itâ€™s true.
False Positive: (Type 1 Error)
Interpretation: You predicted positive and itâ€™s false.
False Negative: (Type 2 Error)
Interpretation: You predicted negative and itâ€™s false.

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[ 758,  564],
       [ 640, 1338]])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))
print("accuracy:", accuracy_score(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.54      0.57      0.56      1322
           1       0.70      0.68      0.69      1978

    accuracy                           0.64      3300
   macro avg       0.62      0.62      0.62      3300
weighted avg       0.64      0.64      0.64      3300

accuracy: 0.6351515151515151

# Challenge Supervised Learning
https://www.kaggle.com/prachi13/customer-analytics